@charset "UTF-8";

header {

	/*justify-content: center;*/

	display: flex;
	background: linear-gradient(#191919, #3b3b3b);
	margin: 0px;
	padding: 0px;
	color: #fffef7;
  padding: 1%;
  
}

body {
  background:  linear-gradient(rgb(255, 255, 255), rgb(219, 219, 219));
  background-attachment: fixed;
  margin: 0%;

}



h1{
  padding: 1%;

  background-color: #c68f65;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  color: rgb(67, 0, 0);
  text-align: center;
  
}

h2{
  text-align: center;
}

.textogrande{
/*font-size: 16px;*/
 font-size: 250%;
 padding: 2%;
color: rgb(51, 0, 0);
 margin: 0%;
}
/*
div{
  font-family: 'Parisienne', cursive;
}
*/

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

footer{


	background: linear-gradient(#3b3b3b, #191919);
  font-style: italic;
	margin: 0px;
	padding: 0px;
	color: #fffef7;
  padding: 1%;
}

